.footer{
    background-color: #369;
    color: white;
    padding: 16px;
    margin-top: 90px;
    // position: relative;
    // clear: both;
    .technology{
        float: left;
    }
    .name{
        float: right;
    }
}