<ngx-loading [show]="loader" [config]="{fullScreenBackdrop: true }"></ngx-loading>
<div class="container">
  <app-header></app-header>
  <mat-card class="electronics-details">Electronics Details
    
    <div class="search-data">
      <mat-form-field>

        <input matInput (keyup)="applyFilter($event)" placeholder="Enter item to be searched" autocomplete="off" #input>
      </mat-form-field>
    </div>
    <div class="count">
      Total Count: {{count}}
    </div>

    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 ">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef class="table-header"> {{column | firstLetterCaps}} </th>
        <td mat-cell *matCellDef="let element" class="table-data"> {{element[column]}}</td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

            <button mat-raised-button color="primary" class="btn"
              [routerLink]="['/product-detail', element.id]">View</button>
            <button mat-raised-button color="accent" class="btn" [routerLink]="['/product-detail', element.id]"
              [queryParams]="{edit: true}">Edit</button>
            <button mat-raised-button color="warn" class="btn" (click)="openDialog(element)">Delete</button>

          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

    

    <div class="no-search-data no-data" *ngIf="noData">
      <div class="no-data-text">No data matching the filter "{{input.value}}"</div>
    </div>
    <div class="no-service-data no-data" *ngIf="noServiceData">
      <div class="no-data-text">No data available</div>
    </div>
  </mat-card>
  <app-footer></app-footer>
</div>