table {
    width: 100%;
    margin-top: 20px;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .add-employee-but  {
      float: right;
      background-color: #E5FAF5;
      color: #00d5c7;
      font-size: 18px;
      line-height: 48px;

  }
  .electronics-details {
   
    line-height: 48px;
    font-size: 24px;
    font-weight: bold;
  }
  .table-header {
    color: white;
    font-size: 18px;
    background-color: #369;
  }
  .table-data{
    font-size: 16px;
    font-weight: 400;
  }
  .btn {
    min-height: 36px;
    min-width: 100px;
    margin: 15px;
    a{
      color: white;
      font-size: 14px;
      font-weight: bolder;
      text-decoration: none;
    }
  }
  .search-data {
    margin-top: -10px !important;
    float: right;
    width: 230px;
    .mat-form-field{
      font-size: 16px;
      line-height: 26px;
      width: 80%;
      //border: 1px solid #d7d7d7;
    }
    input {
      width: 100%;
    }
  }
  .no-data {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: red;
  }