<mat-card class="electronics-details">Electronics Details
    <button mat-button color="primary" class="add-employee-but" [routerLink]="['/add-product']">
        <mat-icon>person_add</mat-icon> Add Data
      </button>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8 ">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef class="table-header"> {{column}} </th>
    <td mat-cell *matCellDef="let element" class="table-data"> {{element[column]}}</td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        
            <button mat-raised-button color="primary" class="btn" [routerLink]="['/product-detail', element.id]">View</button>
            <button mat-raised-button color="accent" class="btn" [routerLink]="['/product-detail', element.id]" [queryParams]="{edit: true}">Edit</button>
            <button mat-raised-button color="warn" class="btn" (click)="openDialog(element.id)">Delete</button>
      
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
</mat-card>