*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.nav-bar{
    display: flex;
    padding: 18px;
    background-color: #369;
    margin-bottom: 15px;
}

.nav-logo {
    width: 30%;
    color: white;
}
.nav-links{
    width: 100%;
}
.nav-links ul{
    // margin-left: 80px;
    display: inline;
    margin-top: 5px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-links ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
.nav-links ul li a ::after{
    content: '';
    width: 0;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li a:hover{
    width: 100%;
    color: #f9f063;
    border-bottom: 2px solid #f9f063;
}
.signOut-btn{
    padding: 10px 20px;
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    float: right;
}
.nav-links .btn{
    float: right;
    padding-right: 10px;
}
.banner-title{
    margin: 80px 130px;
    color: #fff;
}
.banner-title h3{
    font-size: 64px;
    margin-bottom: 30px;;
}
.banner-title h3 span{
    color: yellow;
}
.right-items{
    float: right;
    .name{
        color: white;
        font-size: 16px;
        padding-right: 23px;
        line-height: 44px;
        font-weight: bold;
    }
}
.nav-links ul li .active{
    color: #f9f063;
    border-bottom: 2px solid #f9f063;
}