<!-- <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body> -->
    <div class="hero">
        <div class="nav-bar">
        <div class="nav-logo">
            <img src="logo.png">
        </div>
        <div class="nav-links">
            <ul>
                <a href="#"><li>Home</li></a>
                <a routerLink=" /app-dashboard"><li>Dashboard</li></a>
                <a href="#"><li>Add Product</li></a>
            </ul>
             <button type="button" class="btn">Sign Out</button>
        </div>
    </div>
         <div class="banner-title">
             <h3>An <span> Electronics Network<br></span> for all your daily needs</h3>
         </div>
    </div>
<!-- </body> -->