<!-- <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body> -->
    
        <div class="nav-bar">
        <div class="nav-logo">
            <img src="../../../favicon.ico">
        </div>
        <div class="nav-links">
            <ul>
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
                <li><a [routerLink]="['/add-product']">Add Product</a></li>
                
            </ul>
             <button type="button" class="signOut-btn">Sign Out</button>
        </div>
    </div>
       
  
<!-- </body> -->